*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/Manifest.toml
/docs/build/

.DS_Store
.env
.vscode/*
.vscode
.CondaPkg/*
.CondaPkg

*.log

remotes.csv
remotes/*
remotes


*.zip
data/*
data
figures/*
figures

LocalPreferences.toml

*.jld2
*.jls

